.admin-dashboard {
  padding: 30px;
  animation: fadeIn 0.4s ease-in-out;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.stat-card.pending {
  border-left: 6px solid #ff9800;
}

.stat-card h3 {
  margin-bottom: 10px;
  color: #555;
}

.stat-card p {
  font-size: 28px;
  font-weight: bold;
}

.recent-section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}

h2{
    font-size: 28px;
    font-weight: 750;
    color: #158890;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.empty-text {
  color: #888;
  padding: 10px;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}