.prescription-page {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  margin-bottom: 196px;
  animation: fadeIn 0.4s ease-in-out;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
}

.prescription-list {
  display: grid;
  width: 600px;
  gap: 20px;
  margin-left: 150px;
}

.prescription-card {
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: all 0.4s ease;
}

.prescription-card:hover{
  border-color: #00a1b0;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.prescription-card .date {
  font-weight: 600;
  margin-bottom: 8px;
}

.prescription-card .notes {
  color: #555;
  margin-bottom: 12px;
}

.view-btn {
  display: inline-block;
  padding: 8px 16px;
  background: #00a1b0;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  height: 20px;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.empty-text {
  text-align: center;
  color: #777;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
