.terms-container {
  max-width: 900px;
  margin: 40px auto;
  margin-top: 100px;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s ease-in-out;
}

.terms-container h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #0f172a;
}

.updated {
  text-align: center;
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 30px;
}

section {
  margin-bottom: 25px;
}

section h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1e293b;
}

section p,
section li {
  font-size: 14px;
  color: #374151;
  line-height: 1.6;
}

section ul {
  padding-left: 20px;
}


@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}